name: Building Package using Conda

on:
  workflow_call:
    inputs:
      python-minor-version:
        description: 'Python minor version on which to build / deploy the package. Default is "[8, 9, 10, 11, 12]" '
        default: "[8, 9, 10, 11, 12]"
        required: false
        type: string
      numpy-version:
        description: 'Numpy minor version. Default is None.'
        default: 0
        required: false
        type: number
      conda-channels:
        description: 'Conda channels used during the building phase of the package. Default is the value of the GitHub variable `ANACONDA_CHANNELS`. If not set, job `openalea/action-build-publish-anaconda` will set it as `conda-forge` '
        default: ${{ vars.ANACONDA_CHANNELS}}
        required: false
        type: string
    secrets:
      anaconda_token:
        description: 'Anaconda access Token (required)'
        required: true
      rtds_webhook_url:
        description: Webhook url to generate the doc on readthedocs.
        required: false
        default: ''
      rtds_webhook_token:
        description: Webhook token to generate the doc on readthedocs.
        required: false
        default: ''

jobs:
  build-and-publish:
    name: ${{ matrix.os }}, Python 3.${{ matrix.python-minor-version }} for conda deployment
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest , macos-latest, macos-13 , windows-latest ]
        python-minor-version: ${{ fromJson(inputs.python-minor-version) }}
        isMaster:
          - ${{ github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v') }}
        exclude:
          - isMaster: false
            python-minor-version: 8
          - isMaster: false
            python-minor-version: 9
          - isMaster: false
            python-minor-version: 11
          - isMaster: false
            python-minor-version: 12
          - isMaster: false
            os: macos-latest
            python-minor-version: 10
          - isMaster: false
            os: macos-13
            python-minor-version: 10
          - isMaster: false
            os: windows-latest
            python-minor-version: 10

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Determine publication
      uses: haya14busa/action-cond@v1
      id: publish
      with:
        cond: ${{ startsWith(github.ref, 'refs/tags/v') }}
        if_true: 'true'
        if_false: 'false'
    - name: Determine readthedocs triggering
      id: readthedocs-url-triggering
      run: | 
        echo "::group::Read the doc trigerring"
        export RTDS_WEBHOOK_TOKEN=''
        export RTDS_WEBHOOK_URL=''
        if [[ ${RUNNER_OS} = 'Linux' ]]; then
          if [[ ${{ inputs.python }} = "10" ]]; then
            if [[ ${{ secrets.rtds_webhook_url }} = '' ]]; then
              echo "No readthedocs url provided. See https://github.com/dfm/rtds-action"
            else
              if [[ ${{ secrets.rtds_webhook_token }} = '' ]]; then
                echo "No readthedocs token provided. See https://github.com/dfm/rtds-action"
              else
                export RTDS_WEBHOOK_TOKEN='${{ secrets.anaconda_token }}''
                export RTDS_WEBHOOK_URL='${{ secrets.rtds_webhook_url }}''
              fi
            fi
          else
            echo "Run readthedocs only on Ubuntu with Python 10"
          fi
        else
          echo "Run readthedocs only on Ubuntu with Python 10"
        fi
        echo "RTDS_WEBHOOK_TOKEN=${RTDS_WEBHOOK_TOKEN}" >> $GITHUB_OUTPUT
        echo "RTDS_WEBHOOK_URL=${RTDS_WEBHOOK_URL}" >> $GITHUB_OUTPUT
        echo "::endgroup::"
      shell: bash -l {0}  
    - name: Build and Publish
      uses: openalea/action-build-publish-anaconda@main
      with:
        conda: conda
        mamba: true
        python: ${{ matrix.python-minor-version }}
        numpy: ${{ inputs.numpy-version }}
        channels: ${{ inputs.conda-channels }}
        token: ${{ secrets.anaconda_token }}
        publish: ${{ steps.publish.outputs.value }}
        label: main
        buildoptions: '--no-test'
        rtds_webhook_url: ${{ steps.readthedocs-triggering.outputs.RTDS_WEBHOOK_URL }}
        rtds_webhook_token: ${{ steps.readthedocs-triggering.outputs.RTDS_WEBHOOK_TOKEN }}
